@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crimson+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: linear-gradient(to left top, #633eca, #6cdbeb);
  --plainColor: #ffffff;
  --containerColor: #f5f5f57e;
  --priceColor: #538f2a;
  --randomColor: #da5c36;
}

body {
  font-family: "Bree Serif", serif;
  background: var(--backgroundColor);
  height: 100vh;
  overflow: hidden;
}

li {
  list-style-type: none;
}

nav,
.section,
.inProgress__listItems__lists__ul__li,
.listTodo__inputFields form,
ul#inProgress__listItems__lists__ul--completed > li,
ul#inProgress__listItems__lists__ul > li,
footer {
  display: flex;
}

.inProgress__listItems__lists__ul__li,
ul#inProgress__listItems__lists__ul--completed > li,
ul#inProgress__listItems__lists__ul > li {
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin-bottom: 5%;
}

nav {
  justify-content: space-between;
  padding-right: 16%;
  padding-left: 2%;
  padding-bottom: 20px;
  margin-top: 1%;
}

.nav__appName {
  color: var(--randomColor);
  padding: 10px;
  font-size: 24px;
}

.nav__appName sup {
  font-size: 8px;
  font-weight: bolder;
}

/* for all section tags */
section {
  background-color: var(--containerColor);
  border-radius: 8px;
  padding: 15px;
}

/* for only classes with section name */
.section {
  position: relative;
  justify-content: space-around;
  min-height: 450px;
}

.lastTask {
  max-height: 12vh;
  min-height: 12vh;
  max-width: 30vw;
  align-items: center;
}

.lastTask p {
  font-size: 18px;
  font-weight: bolder;
  color: var(--priceColor);
}

.lastTask span {
  font-size: 14px;
}

.nav__currDate {
  margin: 1px auto;
  font-weight: bolder;
  font-size: 12px;
  position: fixed;
  top: 6%;
  left: 10.6%;
  color: var(--randomColor);
}

.listTodo {
  position: absolute;
  max-height: 350px;
  max-width: 250px;
  top: 30%;
}

.inProgress,
.completed {
  position: absolute;
  top: 10%;
  left: 80%;
}

.inProgress {
  left: 10%;
}

button {
  padding: 5px 10px;
  border-radius: 8px;
  background: var(--priceColor);
  border: none;
  cursor: pointer;
  margin-left: 4%;
}

button:hover {
  background: var(--backgroundColor);
}

svg {
  width: 20px;
  height: 20px;
  color: var(--plainColor);
  cursor: pointer;
}

.inputEl {
  font-size: 12px;
  outline-color: var(--priceColor);
  text-align: center;
}

.inProgress__listItems__lists_ul {
  padding: 10px 0px;
}

.inProgress__listItems__lists__ul__li {
  margin-top: 5%;
  max-width: 20vw;
}

.inProgress__listItems__lists__ul__li--active {
  color: red;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.input__checkbox,
ul {
  margin-top: 3%;
}

footer {
  position: fixed;
  color: var(--containerColor);
  bottom: 10px;
  padding-left: 30px;
}
